<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_Datos.Properties.Settings.deberes_4toConnectionString2"
            connectionString="Data Source=.;Initial Catalog=deberes_4to;Integrated Security=True;Encrypt=True;TrustServerCertificate=True;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
